<!DOCTYPE html>
<!--
	TODO: Task 1, Task 2, Task 3
-->
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Login</title>
	</head>
	<body>

		<h2>Please Login</h2>

		<form action="#" method="POST" th:action="@{/login}" th:object="${login}">
			<table>
				<tr>
					<td> 
						<label for="username">Username:</label> 
					</td>
					<td>
						<input type="text" name="username" size="30" 
								placeholder="Please type in your username"
								field="*{username}" />
								<br/>
						<!-- <div th:if="${#fields.hasErrors('login.*')}">
							<span th:text="${err}" ></span>
						</div> -->
					</td>
				</tr>
				<tr>
					<td>
						<label for="password">Password:</label>
					</td>
					<td>
						<input type="password" name="password" size="30" 
								placeholder="Please type in your password"
								field="*{password}" />
						<br/>
						<!-- <div th:if="${#fields.hasErrors('password')}">
							<span th:errors="*{password}"  th:errorclass="error"></span>
						</div> -->
					</td>
				</tr>
				<tr>
					<td>
						<div th:if = "${captcha != null}" th:text = "${captcha}"></div>
						<input th:if = "${captcha != null}" type="text" name="userResponse" field="*{userResponse}" /><br>
					</td>
				</tr>
				<tr>	
					<td>
						<button type="submit">Login</button>
					</td>
				</tr>
			</table>
		</form>
		
	</body>
</html>
